body {
    background-color: #36393F;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #7289DA;
    background-color: #40444B;
    color: #fff;
    width: 70%;
    outline: none;
    border-radius: 5px 0 0 5px;
    width: 500px;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #7289DA;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0 5px 5px 0;
}

form button[type="submit"]:hover {
    background-color: #5A6B8E;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    padding: 10px;
    background-color: #40444B;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.todo p {
    margin: 0;
}

.todo p:first-child {
    font-size: 18px;
    color: #7289DA;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
    transition: 0.2s;
}

.done {
    background-color: #43B581;
    color: #fff;
}

.delete {
    background-color: #F04747;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

.doneTodo {
    background-color: #43B581;
    color: #fff;
}